//@use "../utilities/mixins";
//@use "../utilities/initial-variables";

@use "../utilities";

@mixin addDefaultClasses {
    .bt-grid {
        @include asGrid;
    }
}

@mixin asGrid {
    display: grid;
    grid-column-gap: utilities.$space-between-elements-h;
    grid-row-gap: utilities.$space-between-elements-v;

    position: relative;

    @include utilities.defaultGridClasses;

    > div { // Only divs count as child elements in this version
        @include utilities.defaultChildClasses;

        overflow: hidden;

        &.stretch-h {
            // Default behaviour
            justify-self: unset !important;
        }

        &.stretch-v {
            // Default behaviour
            align-self: unset !important;
        }

        &.left {
            justify-self: start;
        }

        &.centre, &.center { // Cater for both British English and American English
            justify-self: center;
        }

        &.right {
            justify-self: end;
        }

        &.top {
            align-self: start;
        }

        &.middle {
            align-self: center;
        }

        &.bottom {
            align-self: end;
        }
    }
}